.header{
  background-color: grey;
  text-align: center;
  width: auto;
  color: white;
}

.menu ul {
  text-align: center;
  text-decoration: none;
  color: white;
}
.menu li {
  color: white;
  display: inline;
  background-color: grey;
  text-decoration: none;

}
